/application.properties.jim
.mvn/
.metadata/
webexcc-dbconnector-springboot/application.yml.jiwyatt
webexcc-dbconnector-angular/package-lock.json
webexcc-dbconnector-angular/src.zip
/deprecated
/com.cisco.webexcc.dbconnector/target
